{
    "presets": ["babel-preset-gatsby"],
    "env": {
      "test": {
        "presets": ["@babel/preset-env", "@babel/preset-react"],
        "plugins": ["babel-plugin-styled-components"]
      }
    }
  }