[build]
  functions = "functions/"
  command = "npm run build"
  publish = "dist/"

[[redirects]]
  from = "https://carolgilabert.me/*"
  to = "https://carol.gg/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Permissions-Policy = "interest-cohort=()"