@import "colours";
@import "mixins";

.skip-link {
  position: absolute;
  top: 8px;
  left: 8px;

  &:not(:focus) {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.logo {
  font-family: Briston;
  font-size: 2em;
  font-feature-settings: "swsh" on;
  text-decoration: none;
  color: var(--black);

  @include pill;
  background-color: var(--yellow);
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-inline-end: 1.5rem;
      margin-block-end: 1rem;

      a {
        color: var(--black);
        text-decoration: none;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin: 0;

        img {
          max-width: 1rem;
          transition: transform 0.3s;
        }

        &[aria-expanded="true"] {
          img {
            transform: rotate(180deg);
          }
        }
      }

      ul {
        position: absolute;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
