/*** FONTS ***/
@font-face {
    font-family: "Norando";
    src: url("/fonts/norando.woff2") format("woff2"),
        url("/fonts/norando.woff") format("woff");
}

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff2") format("woff2")
        url("/fonts/atkinson-regular.woff") format("woff");
}

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff2") format("woff2")
        url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-italic.woff2") format("woff2")
        url("/fonts/atkinson-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold-italic.woff2") format("woff2")
        url("/fonts/atkinson-bold-italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: Atkinson, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: Norando;
}

h1 > em,
h2 > em,
h3 > em,
h4 > em {
    font-feature-settings: "ss02" on;
}
