@import "reset";
@import "fonts";
@import "header";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#main-content {
  outline: none;
}

p,
li {
  max-width: 60ch;
}

main {
  justify-self: center;
  width: clamp(15rem, 90vw, 70rem);
}

footer {
  justify-self: center;
  width: clamp(15rem, 65vw, 70rem);
  margin-inline: 2rem;
  margin-block-start: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-inline-end: 1rem;
    }
  }

  p {
    align-self: center;
    text-align: center;
  }
}
