---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const pageTitle = "Hello!";
const pageSubtitle = "Open for a surprise!";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
    <h1>{pageTitle}</h1>

    <Image
        src="/badger.gif"
        alt="A cute badger sniffing a small yellow flower and wiggling a little."
        width={498}
        height={281}
    />
</BaseLayout>
