---
import { type CollectionEntry } from "astro:content";
const { data } = Astro.props;

type NYTGame = CollectionEntry<"nyt-games">;

const { data: connectionsData } = data.find(
  (d: NYTGame) => d.id === "connections"
);
---

<h3>Connections</h3>
{
  connectionsData.isItFinished ? (
    <>
      <p>Today's result:</p>
      <>
        {connectionsData.results.split("\n").map((result, index) => {
          if (index === 0 || index === 1) {
            return null;
          }
          return <p class="result-line">{result}</p>;
        })}
      </>
    </>
  ) : (
    <p>Not done today's yet.</p>
  )
}

<style lang="scss">
  .result-line {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1em;
  }
</style>
