<footer>
  You can also find me on:
  <ul class="no-style">
    <li>
      <a href="mailto:hello@carol.gg" rel="me"> Email </a>
    </li>
    <li>
      <a href="https://github.com/carolgilabert" rel="me"> GitHub </a>
    </li>
    <li>
      <a href="https://codepen.io/carolgilabert" rel="me"> Codepen </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/carolgilabert" rel="me">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://app.thestorygraph.com/profile/carolgilabert" rel="me">
        Storygraph
      </a>
    </li>
    <li>
      <a href="https://social.lol/@carol" rel="me"> Mastodon </a>
    </li>
    <li>
      <a
        href="https://bsky.app/profile/did:plc:v6skz64sop2mpr72hpilt7dt"
        rel="me"
      >
        Bluesky
      </a>
    </li>
    <li>
      <a href="https://letterboxd.com/carolgilabert" rel="me"> Letterboxd </a>
    </li>
  </ul>
  <p>
    © 2025 · Carolina Gilabert ·
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"> cc-by-sa </a>
  </p>
</footer>

<style lang="scss">
  footer {
    justify-self: center;
    width: clamp(15rem, 65vw, 70rem);
    margin-inline: 2rem;
    margin-block-start: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin-inline-end: 1rem;
      }
    }

    p {
      align-self: center;
      text-align: center;
    }
  }
</style>
