<footer>
    You can find me:
    <li>
        Responding late to your
        <a href="mailto:hello@carol.gg" rel="me"> email 💌 </a>
    </li>
    <li>
        Oversharing on
        <a href="https://twitter.com/CarolSaysThings" rel="me"> twitter 🐦 </a>
    </li>
    <li>
        Stitching code together on
        <a href="https://github.com/carolgilabert" rel="me"> github 👩‍💻 </a>
    </li>
    <li>
        Throwing stuff at the wall on
        <a href="https://glitch.com/@carolgilabert" rel="me"> glitch 🔮 </a>
    </li>
    <li>
        Chatting about stuff on
        <a href="https://noti.st/carolgilabert" rel="me"> notist 🎤 </a>
    </li>
    <li>
        <a href="https://haha.business/">Ha ha business</a>
        -ing on
        <a href="https://www.linkedin.com/in/carolgilabert" rel="me">
            LinkedIn 👩‍💼
        </a>
    </li>
    <p>
        © 2021 · Carolina Gilabert ·
        <a href="https://creativecommons.org/licenses/by-sa/4.0/"> cc-by-sa </a>
    </p>
</footer>
