<ul>
    {%- for post in postList %}
    <li>
        <article>
            <a href="{{ post.url }}">
                <h2>{{ post.data.title }}</h2>
                <span>
                    <time datetime="{{ post.data.date | isoDate }}">
                        {{ post.data.date | date }}
                    </time>
                    · {{ post.data.readingTime }}
                </span>
                <p>{{ post.data.subtitle }}</p>
            </a>
        </article>
    </li>
    {%- endfor %}
</ul>
