<ul class="h-feed post-list" role="list">
  {%- for post in postList %}
  <li>
    <article class="h-entry">
      {% renderTemplate "webc" %}
      <my-hcard></my-hcard>
      {% endrenderTemplate %}
      <div class="image"></div>
      <div class="post-info">
        <div>
          <p class="p-name title">{{ post.data.title }}</p>
          <span class="body-xsmall">
            <time class="dt-published" datetime="{{ post.data.date | isoDate }}">
              📅 {{ post.data.date | readableDate }}
            </time>
            · {{ post.data.readingTime }} ⏱
          </span>
          <p class="p-summary body-small">{{ post.data.subtitle }}</p>
        </div>
        <a class="u-url" href="{{ post.url }}">Read the post </a>
      </div>
    </article>
  </li>
  {%- endfor %}
</ul>