<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner">
  <a class="logo" href="/">Carol.gg</a>
  <div class="divider"></div>
  <nav aria-label="Primary">
    <ul class="no-style">
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li>
        <button id="stuff-subnav" aria-expanded="false"><span>Stuff</span><img src="/down.svg"
            role="presentation" /></button>
        <ul hidden class="no-style subnav">
          <li><a href="/uses/">Uses</a></li>
          <li><a href="/talks/">Talks</a></li>
          <li><a href="/salary/">Salary</a></li>
          <li><a href="/links/">Links</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>