<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <style>
            img,
            picture {
                max-width: 100%;
                display: block;
            }
        </style>
    </head>
    <body>
        {% include "site-head.html" %}
        <main tabindex="-1" id="main-content">{{ content | safe }}</main>
        {% include "footer.html" %}
        <!-- TODO: Include fathom partial only if production build -->
    </body>
</html>
