<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/base.css">

        {% for script in extraScripts %}
            <script src="{{ script | url }}></script>
        {% endfor %}

        {% for stylesheet in extraStyles %}
            <link rel="stylesheet" href="{{ stylesheet | url }}" />
        {% endfor %}
    </head>
    <body>
        {% include "site-head.html" %}
        <main tabindex="-1" id="main-content">{{ content | safe }}</main>
        {% include "footer.html" %}
        <!-- Including fathom partial only if it's a production build -->
        {% if site.environment == "prod" %}
        {% include "fathom.html" %}
        {% endif %}

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js');
            }
        </script>
    </body>
</html>
