---
layout: base.html
extraStyles:
- /styles/code.css
- /styles/webmentions.css
---
<div class="h-entry">
    <h1 class="p-name">{{ title }}</h1>
    <p class="p-summary"><em>{{ subtitle }}</em></p>
    <span class="body-small">
        <time class="dt-published" datetime="{{ date | isoDate }}">
            📆 {{ date | readableDate }}
        </time>
        · {{readingTime }} ⏱️
    </span>
    {% include "h-card.html" %}
    <div class="e-content">
        {{ content | safe }}
    </div>
</div>

<!-- Webmentions section -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% include 'webmentions.html' %}